<html lang="fr">
Modifier mon mot de passe-West world Shirts
<head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
        </head>

{% block content %}
<h1>Modifier mon mot de passe</h1>
<br>
<a href="{{path('account')}}">Retourner a mon compte</a><br/>
</hr>
{% if notification %}
<div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{form(form)}}
{% endblock %}
