

{% block title %}Modifier mon mot de passe-West world Shirts{% endblock %}

{% block content %}
<h1>Modifier mon mot de passe</h1>
<br>
<a href="{{path('account')}}">Retourner a mon compte</a><br/>
</hr>
{% if notification %}
<div class="alert alert-info">{{ notification }}</div>
{% endif %}
{{form(form)}}
{% endblock %}
