<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{asset('assets/css/style2.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style1.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
<head>
<style>
body {
  background-image: url('assets/img/melek2.jpg') !important; 
  display:flex;
  height:100vh;
  padding:10px;
  justify-content:center;
  align-items:center;
}
*{
            margin:0;
            padding:0;
            box-sizing:border-box;
            font-family:'Poppins',sans-serif;
        }
</style>
</head>
{% block body %}
<div class="container">
<br><br><br>

<h1>{{form(form)}}</h1>
</div>
{% endblock %}
</html>
