<head>
<style>
body {
 background-color:#c98b8b;
}
</style>
</head>
{% block title %}Make Payment{% endblock %}
<br><br>
{% block body %}


    <form action="/checkout" method="POST">
        <button type="submit" class="w3-button w3-black">Checkout</button>
    </form>

<div>

</div>
{% endblock %}
