<head>
<meta charset="utf-8">
<link rel="stylesheet" href="{{asset('assets/css/style2.css')}}">
    <link rel="stylesheet" href="{{asset('assets/css/style1.css')}}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@0.5.3/dist/css/axentix.min.css">
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.css') }}">
<head>
<style>
body {
  background-image: url('assets/img/melek2.jpg') !important; 
}
</style>
</head>

{% block content %}
<h1>Inscription</h1>
{{form(form)}}
{% endblock %}
